.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display:inline-block;
}
.pagination a.active{
    background-color: hsl(120,100,70);
    font-weight:bold;
    border-radius:5px;
    color:brown


}
.pagination a:hover:not(.active){
    background-color:rgb(25, 118, 199);
    border-radius:5px;
    box-shadow: 0cqb;
}

